/* not making this module.css didn't loudly break, but i stopped being able to see live refreshes */

.aboutContainer {
    background: var(--bright-white);
    clip-path: polygon(
        0 0, 
        calc(100% - 40px) 0, 
        100% 40px, 
        100% 100%, 
        40px 100%, 
        0 calc(100% - 40px)
    );
}


.aboutContainer::before {
    content: '';
    background: linear-gradient(90deg, var(--transparent-blue) 0%, var(--transparent-cyan) 100%);
    width: 400px; 
    height: 200vw; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;

    margin-top: -100vw;
    margin-left: -200px;

    filter: blur(15px);
    animation: var(--animate-rotate)
}

/* Hides center of the laser */
.aboutContainer::after {
    content: '';
    position: absolute;
    inset: 8px; /* Thickness of the laser border */
    background: var(--bright-white);
    
    clip-path: polygon(
        0 0, 
        calc(100% - 38px) 0, 
        100% 38px, 
        100% 100%, 
        38px 100%, 
        0 calc(100% - 38px)
    );
}

.aboutContent {
    position: relative;
    z-index: 10;
    padding: var(--padding-medium); 
    display: flex;
    flex-direction: column;
    gap: var(--padding-one);
}

.aboutDescription {
    font-family: var(--font-paragraph);
    font-size: var(--clamp-base);
    font-weight: var(--font-medium);
    line-height: 1.6;
    color: var(--dark-contrast);
    margin: var(--padding-small);
}

.highlight {
    background: linear-gradient(90deg, var(--transparent-cyan) 0%, rgba(243,202,77,0.05) 100%);
    padding: 0 0.25rem;
    border-radius: 2px;
}

@media (min-width: 768px) {
    /* .aboutDescription {
        font-size: 1.25rem; 
    } */
}
