@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@font-face {
    font-family: 'CyberFont'; 
    src: url("/fonts/Yeager-Regular.otf") format('opentype');
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* border-box ensures padding and border are included in the element's total width and height */
    border-color: var(--border);
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Rajdhani", sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    width: 100%;
    overflow-x: hidden;
}

/* backdrop of whole app, contains three.js background */
#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: var(--secondary);
}

/* =========================================
  LAYOUT COMPONENTS
========================================= */
.container {
    width: 100%;
    max-width: 70.9rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;  /* px-5 */
    padding-right: 0.5rem; /* px-5 */
}

.section {
    width: 100%;
    padding: 0.1vw 0;
    display: flex;
    justify-content: center;
}

/* =========================================
  CONSTANTS
========================================= */
:root {
    --radius: 0.625rem;
    --background: #fffdf6;
    --foreground: oklch(0.145 0 0);
    --primary: #1C212B;
    --secondary: rgb(245, 241, 226);
    --tertiary: #5491dc;
    --accent: #00e1ff;
    --error: oklch(0.577 0.245 27.325);
    --main-blue: rgb(57, 148, 223);
    --text-blue: rgb(19, 127, 216);

    --glitched-duration: 0.9s;
    --glitched-long-duration: 3s;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
}

/* =========================================
   GLOBAL TYPOGRAPHY
========================================= */
h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

h1 {
    font-size: 1.5rem; /* Equivalent to text-2xl */
    font-weight: 400;
}

h2 { font-size: calc(0.5vw + 1.4rem); font-weight: 400; } /* text-3xl */
h3 { font-size: 1.5rem; font-weight: 400; }    /* text-2xl */

h4 { font-size: 1.125rem; font-weight: 500; } /* text-lg */
@media (min-width: 640px) { h4 { font-size: 1.25rem; } }  /* sm:text-xl */

h5 { font-size: 1rem; font-weight: 500; }     /* text-base */
@media (min-width: 640px) { h5 { font-size: 1.125rem; } } /* sm:text-lg */

h6 { font-size: 1rem; font-weight: 400; }     /* text-base */

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary);
}